# Rust object files and executables
/target/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock

# Rust formatting tool backups
**/*.rs.bk

# Other projects (sources of inspiration)
./samples

# Bazel builds
/bazel-*

# Bazel remote cache
.bazels3cache

# User interaction (UI) tests
**/wip/
